/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your own custom global CSS below these lines */
body {
  margin: 0;
  /* Ensure the 'Inter' font is imported or linked if you're using it */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a202c; /* Set a default dark background */
  color: #e2e8f0; /* Set a default light text color */
}

code {
  font-family: 'JetBrains Mono', monospace;
}